body {
  background-color: #1F2937;
  /* margin: 0;
  box-sizing: border-box; */
  /* position: fixed; */
  background-size: cover;
}


textarea {
  width: 50%;
  height: 15vh;
  display: block;
  margin: 2rem;
  padding: 1rem;
  resize: none;
  background-color: #1F2937;
  color: #D97706;
  /* font-family: 'Gloria Hallelujah', cursive; */
  /* font-size: large; */
  
}

#output {
  width: 50%;
  height: 15vh;
  margin: 2rem;
  padding: 1rem;
  /* display: block; */
  /* font-family: 'Gloria Hallelujah', cursive; */
  /* font-size: large; */
  border: 1px solid black;
  color: #D97706;
}

button {
  border: none;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  margin: 2rem;
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  text-align: center;
  padding: 2rem;
}

.heading {
  margin-left: 20%;
}